@model IEnumerable<LocaFacil.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoImovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCondominio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorIPTU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VagaGaragem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoImovel.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorAluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCondominio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorIPTU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VagaGaragem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
